.about {
    padding-top: 120px;
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 100%;
    }

    &__description {
        max-width: 900px;
    }

    &__title {
        font-weight: 600;
        font-size: 35px;
        margin-bottom: 50px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 18px;
        max-width: 638px;
    }

    &__pic {
        margin-top: 50px;
    }

    &__text {
        margin-left: 62px;
        margin-top: 129px;
    }

    &__mission {
        &-text {
            margin-top: 130px;
            background-color: #981d15;
            padding-top: 316px;
            padding-left: 235px;
            padding-right: 50px;
            padding-bottom: 130px;
            color: white;
            font-weight: 200;
            font-size: 18px;
        }
    }

    &__target {
        &-list {
            margin-top: 130px;
        }

        &-item {
            font-weight: 300;
            font-size: 18px;

            &::before {
                content: url("../images/target.svg");
                margin-right: 40px;
            }

            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        &-text {
            font-weight: 300;
            font-size: 18px;
            max-width: 730px;
            margin-left: 156px;
            margin-top: 80px;
            margin-bottom: 15px;
        }

        &-link {
            color: black;
            font-weight: 300;
            font-size: 14px;
            margin-left: 347px;
            border-bottom: 1px solid black;
            padding-bottom: 5px;

            &::after {
                content: url("../images/black-arrow.svg");
                margin-left: 10px;
            }
        }
    }

    &__specialist {
        &-text {
            margin-left: 62px;
            margin-top: 82px;
        }
    }

    &__service {
        &-text {
            padding-left: 203px;
            padding-right: 60px;
            padding-top: 329px;
            padding-bottom: 130px;
            margin-top: 130px;
            font-weight: 200;
            background-color: #981d15;
            color: white;
            margin-bottom: 100px;
        }

        &-wrapper {
        }

        &-link {
            color: white;
            border-bottom: 1px solid white;
            margin-top: 10px;
            display: inline-block;
            svg {
                margin-left: 10px;
            }
        }
    }

    &__sla-text {
        margin-top: 30px;
        margin-left: 62px;
    }

    &__sla-link {
        display: inline-block;
        margin-top: 15px;
        margin-left: 480px;
        color: black;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
        font-weight: 300;
        font-size: 14px;
        margin-top: 10px;
        svg {
            margin-left: 10px;
        }
    }

    &__nav {
        min-width: 160px;
        &-list {
            position: sticky;
            top: 180px;
        }
        &-item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &-link {
            font-weight: 200;
            font-size: 18px;
            color: black;
        }
    }
}

@media screen and (max-width: 1200px) {
    .about {
        padding-left: 20px;
        padding-right: 20px;
        &__description {
            margin-right: 50px;
        }
    }
}

@media screen and (max-width: 860px) {
    .about {
        &__description {
            margin-right: 0;
        }
        &__nav {
            display: none;
        }
        &__mission {
            &-text {
                padding-top: 50px;
                padding-left: 30px;
                padding-right: 50px;
                padding-bottom: 50px;
            }
        }
    }
    .about__target-item {
        display: flex;
    }
    .about__target-item::before {
        margin-right: 20px;
    }
    .about__target-text {
        margin-left: 20px;
    }
    .about__text,
    .about__specialist-text {
        margin-left: 20px;
    }
    .about__service-text {
        padding-left: 30px;
        padding-right: 60px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about__sla-link {
        margin-left: 63px;
    }
    .about__target-link {
        margin-left: 20px;
    }
}
