.activity {
    margin-top: 130px;
    &__heading-box{
        max-width: 619px;
        margin-left: auto;
        margin-right: 40px;
        margin-bottom: 50px;
    }
    &__heading {
        font-weight: 600;
        font-size: 30px;
    }

    &__request {
        font-weight: 300;
        font-size: 18px;
        color: black;
        margin-top: 5px;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__pic {
        max-height: 386px;
    }

    &__box {
        position: relative;
        cursor: pointer;

        &:hover &-img {
            filter: grayscale(0);
            transition: 0.5s;
        }

        &-pic {
            max-height: 386px;
        }

        &-img {
            filter: grayscale(10);
            transition: 0.5s;
        }

        &-text {
            position: absolute;
            color: white;
            font-weight: 200;
            font-size: 25px;
            bottom: 20px;
            left: 20px;
        }
    }
}