.header {
    background-color: #131313;

    &__wrapper {
        max-width: 1160px;
        margin: 0 auto;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__nav {
        display: flex;

        &-user {
            &-list {
                display: flex;
                margin-right: 75px;
            }

            &-item {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }

            &-link {
                color: white;
                font-family: 'Manrope';
                font-weight: 200;
                font-size: 18px;
                position: relative;

                &::after {
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: -3px;
                    width: 0;
                    height: 1px;
                    background-color: white;
                    content: "";
                    transition: width 0.5s;
                }
                &:hover {
                    &::after{
                    width: 100%;
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    height: 1px;
                    background-color: white;
                    content: "";
                    transition: width 0.5s;
                    }
                }
            }
        }
    }
}

.white-header {
    background-color: white;
}

.white-back {
    color: black;
    padding-bottom: 2px;

    &:hover {
        border-bottom: 1px solid black;
    }
}