.intro {
    background-color: #131313;
    height: 100vh;
    min-height: 780px;
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        position: relative;
    }

    &__titles {
        position: absolute;
    }

    &__title {
        color: white;
        font-weight: 600;
        font-size: 40px;
        max-width: 680px;
        margin-top: 141px;
    }

    &__pic {
        margin-left: auto;
        margin-right: 60px;
    }

    &__subtitle {
        color: white;
        font-weight: 300;
        font-size: 20px;
        max-width: 400px;
        margin-top: 197px;
        display: flex;

        &::before {
            content: url("../images/arrow-bottom.svg");
            display: block;
            margin-right: 28px;
            margin-top: 8px;
        }
    }

    &__link {
        position: absolute;
        right: 0px;
        top: 352px;
        background-color: #981d15;
        padding: 53px 33px;
        border-radius: 100%;
        color: white;
        font-weight: 400;
        font-size: 18px;
        animation: pulse 2s ease-in-out infinite;
    }
}

@keyframes pulse {
    from {
        transform: scale(0.85);
    }

    50% {
        transform: scale(1);
    }

    to {
        transform: scale(0.85);
    }
}

@media screen and (max-width: 1200px) {
    .intro {
        padding: 0 20px;
    }
}
@media screen and (max-width: 1020px) {
    .intro {
        &__pic {
            max-width: 480px;
        }
        &__img {
            width: 100%;
        }
        &__title {
            font-size: 30px;
            line-height: 41px;
            max-width: 550px;
            margin-top: 80px;
        }
        &__subtitle {
            margin-top: 150px;
        }
        &__link {
            top: 240px;
        }
    }
}

@media screen and (max-width: 680px) {
    .intro {
        &__pic {
            max-width: 290px;
            height: 418px;
        }
        &__img {
            height: 100%;
            object-fit: cover;
        }
        &__title {
            font-size: 25px;
            line-height: 34px;
            max-width: 440px;
        }
        &__subtitle {
            font-size: 17px;
            line-height: 23px;
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 560px) {
    .intro {
        .wrapper {
            height: 100%;
            padding-top: 120px;
        }
        &__pic {
            margin-right: 40px;
            height: calc(100vh - 200px);
            max-width: 230px;
        }
        &__subtitle {
            margin-top: 0;
            margin-bottom: 73px;
        }
        &__titles {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__link {
            top: 40%;
        }
        &__title {
            max-width: 325px;
        }
    }
}

@media screen and (max-width: 400px) {
    .intro {
        &__title {
            font-size: 20px;
            line-height: 27px;
        }
        &__subtitle {
            max-width: 216px;
        }
    }
}
