.projects {
    margin-top: 130px;

    &__heading {
        font-weight: 600;
        font-size: 30px;
    }

    &__container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }

    &__box {
        max-width: 360px;
        max-height: 120px;
        width: 100%;
        background-color: #F5F5F5;
        display: flex;
        cursor: pointer;

        &:hover &-img {
            filter: grayscale(0);
            opacity: 1;
            transition: 0.5s;
        }

        &-img {
            filter: grayscale(10);
            opacity: 0.3;
            transition: 0.5s;
        }

        &-text {
            font-weight: 600;
            font-size: 25px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5%;
        }
    }
}