.robots {
    margin-top: 130px;
    &__heading {
        font-weight: 600;
        font-size: 30px;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 50px;
    }
    &__box {
        max-width: 386px;
        height: 272px;
        width: 100%;
        &-pic {
            text-align: center;
            padding-top: 105px;
        }
        &-text {
            max-width: 314px;
            text-align: center;
            margin-top: 40px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
.border-right {
    border-right: 1px solid #dddddd;
}
.border-bottom {
    border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 1200px) {
    .robots {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px) {
    .robots {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            .border-right,
            .border-bottom {
                border: none;
            }
        }
        &__box {
            max-width: 100%;
            &:nth-child(-n + 4) {
                border-bottom: 1px solid #dddddd !important;
            }
            &:nth-child(odd) {
                border-right: 1px solid #dddddd;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .robots {
        &__container {
            grid-template-columns: repeat(1, 1fr);
        }
        &__box {
            height: auto;
            padding: 50px 0;
            &:nth-child(odd) {
                border-right: none;
            }
            &-pic {
                padding-top: 0;
            }
        }
    }
}
